{% extends 'base.html' %} {% block content %}
<section id="intro-section">
    <div class="container h-100 align-items-center">
    
        <h1 class="mb-5 text-uppercase m-auto">Riddle Me</h1>
        
        <div class="row mt-5">
            <div class="col-xs-12 col-md-6 text-center">
                <h2 class="text-white-50 mt-5 m-auto">Rules</h2>
                <ul class="text-white mb-5 list-unstyled my-3">
                    <li>Create a username which will be displayed.</li>
                    <li>They're 10 riddles per session.</li>
                    <li>Try and complete all the riddles with as little incorrect guesses.</li>
                    <li>Start with 20 points each time you guess incorrectly a point is deducted.</li>
                    <li>If you reach 0 points game over.</li>
                </ul>
            </div>
            
            <div class="col-xs-12 col-md-6 text-center">
                <h2 class="text-white-50 mt-5 m-auto">Leaderboard</h2>
                <table class="table w-50 m-auto text-white">
                    <thead>
                        <tr>
                            <td>Username</td>
                            <td>Score</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in leaderboard %}
                        <tr>
                            <td>{{ user['name'] }}</td>
                            <td>{{ user['score'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 text-center my-3">
                <form method="POST">
                    <label class="text-white-50" for="username">Username:</label>
                    <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="username" name="username" placeholder="Enter Username..." required>
                    <button type="submit" class="btn btn-primary js-scroll-trigger mt-3">Get Started</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
